/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('Roboto/roboto-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
	font-family: 'Roboto', sans-serif;

	transition: all 0.3s;
	-webkit-transition: all 0.3s;

	cursor: default;

	user-select: none;
	-webkit-user-select: none;
}

body {
	padding: 0;
	margin: 0;

	background-color: #F2F2F0;
}

a {
	text-decoration: none;
}

header {
	padding-top: 4vh;
	padding-bottom: 4vh;
	padding-left: 10vw;
}

canvas {
	margin: auto;
}

main {
	margin-left: 3vw;
}

input {
	display: block;

	width: 30vw;

	margin-bottom: 0.5vh;

	font-size: 1.1em;
}

#game {
	display: none;
}

#status {
	display: none;

	text-align: center;
}

#score {
	display: none;

	margin-top: 20vh;

	text-align: center;
}

#score > h1 {
	font-size: 5em;

	padding-bottom: none;
	margin-bottom: none;
}

#copyright {
	margin-top: 5vh;

	text-align: center;
}

#login {
	display: none;

	margin-top: 10vh;

	padding-left: 30vw;
	padding-right: 30vw;
}

#login > a {
	margin-top: 5vh;

	font-size: 1.2em;
}

#login > #central {
	display: flex;

	align-items: center;
}

#login > #central > p {
	font-size: 3em;
}

#login > #central > img {
	display: inline;

	width: 170px;

	margin-right: 3vw;
	margin-left: 3vw;
}

#login > .disclaimer {
	font-size: 0.9em;
}

#splash {
	margin: auto;
	text-align: center;

	padding-top: 20vh;
}

#splash > img {
	width: 300px;

	padding-bottom: 10px;

	transition: transform 1.5s;
	-webkit-transition: transform 1.5s;
}

#userinfo {
	display: none;

	padding-left: 6vw;
}

#userinfo:nth-child(0), #userinfo:nth-child(1) {
	margin-top: none;
	margin-bottom: 2vh;
}

#userinfo > #stats {
	margin-top: 4vh;
}

.userinfo_tag {
	display: inline;

	padding: 2px;
	margin-right: 10px;

	border: 1px solid #000000;

	border-radius: 0.1em;

	color: #000000;
}

.highscore {
	margin-bottom: 2vh;
}

.highscore > strong {
	display: inline;
	font-size: 1.4em;

	padding-right: 10vw;
}

.highscore > p {
	display: inline;
	font-size: 1em;
}

.score {
	width: 90%;
}